<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="PTEntities"
         connectionString="metadata=res://*/DataAccess.PTModel.csdl|res://*/DataAccess.PTModel.ssdl|res://*/DataAccess.PTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbserverprod;initial catalog=PolicyTracker_P;persist security info=True;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="ApplName" value="Policy Tracker"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SITE_URL" value="https://AppServerProd.ci.long-beach.ca.us/PolicyTracker/"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HRWebAPI_BaseURL" value="https://YourServiceServer.ci.long-beach.ca.us/HRDB2.WebAPI/"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp deliveryMethod="Network">
        <network host="smtpserver" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>