<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!-- Application Name for email notice -->
    <add key="ApplName" value="Policy Tracker (D)" />
    <!-- Error Log Folder -->
    <add key="LOG_DIR" value=".\LOG" />
    <!-- Batch Username -->
    <add key="BATCH_USER" value="PT_Batch" />
    <!-- Lead days to create data -->
    <add key ="LeadDaysToCreateRelease" value="0"/>
    <add key ="LeadDaysToCreateRecipientPolicy" value="0"/>
    <add key ="LeadDaysToCreateNotice" value="0"/>
    <!-- RetryDaysToSendNotice -->
    <add key ="RetryDaysToSendNotice" value="3"/>
    <!-- E-Mail Notification -->
    <add key="MailSender" value="&quot;Policy Tracker&quot; &lt;NoReply@maildomain&gt;" />
    <!-- Message Template Folder -->
    <add key="MSG_DIR" value="\Projects\PolicyTracker\Messages" />
    <!-- Web Site URL -->
    <add key="SITE_URL" value="https://AppServer.ci.long-beach.ca.us/PolicyTracker/" />
    <!-- HRDB2 Web API Base Url -->
    <add key="HRWebAPI_BaseURL" value="https://YourServerForService.ci.long-beach.ca.us/HRDB2.WebAPI/" />
    <!-- List of Orgs for Kiosk only -->
    <add key="OrgsKioskOnly" value="33"/>
  </appSettings>

  <connectionStrings>
    <add name="PTEntities" connectionString="metadata=res://*/DataAccess.PTModel.csdl|res://*/DataAccess.PTModel.ssdl|res://*/DataAccess.PTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbserver;initial catalog=PolicyTracker_D;persist security info=True;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.net>
    <mailSettings>
      <!-- drop email file for testing -->
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\mail_pickup" />
      </smtp>
    </mailSettings>
  </system.net>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>