<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="PTEntities"
         connectionString="metadata=res://*/DataAccess.PTModel.csdl|res://*/DataAccess.PTModel.ssdl|res://*/DataAccess.PTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbservertest;initial catalog=PolicyTracker_T;persist security info=True;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="ApplName" value="Policy Tracker (T)"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SITE_URL" value="https://AppServerTest.ci.long-beach.ca.us/PolicyTracker/"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

</configuration>