<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PolicyTracker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Application Name on Master Page -->
    <add key="ApplName" value="Policy Tracker (D)" />
    <!-- Encrypt config sections -->
    <add key="EncryptConfig" value="0" />
    <!-- ActiveDirectory wrapper API setttings -->
    <add key="ADPath" value="LDAP://CI.LONG-BEACH.CA.US" />
    <add key="ADPathDC" value="DC=CI,DC=LONG-BEACH,DC=CA,DC=US" />
    <add key="ADUser" value="" />
    <add key="ADPassword" value="" />
    <!-- Dev User ID -->
    <add key="DevUserID" value="domain\devuser" />
    <add key="DevUserIDChange" value="" />
    <!-- Web Monitor User ID - skip HR emp validation -->
    <add key="MonitorUserID" value="domain\monitor" />
    <!-- Error Log Folder -->
    <add key="LOG_DIR" value="\LOG\PolicyTracker" />
    <!-- Web Site URL -->
    <add key="SITE_URL" value="https://AppServer.ci.long-beach.ca.us/PolicyTracker/" />
    <!-- File Store Options-->
    <!-- DB:Database or FS:File System -->
    <add key="FILE_STORE_LOC" value="DB" />
    <add key="UPLOAD_FOLDER" value="C:\Projects\PolicyTracker\Upload" />
    <!-- Lead days to create data -->
    <add key="LeadDaysToCreateRelease" value="30" />
    <!--<add key="LeadDaysToCreateRecipientPolicy" value="3" />
    <add key="LeadDaysToCreateNotice" value="0" />-->
    <!-- E-Mail Notification -->
    <add key="MailSender" value="&quot;Policy Tracker&quot; &lt;NoReply@maildomain&gt;" />
    <!-- Message Template Folder -->
    <add key="MSG_DIR" value="\Projects\PolicyTracker\Messages" />
    <!-- List of Orgs for User ID Verify -->
    <add key="OrgsUserIDVerify" value="23"/>
    <!-- List of Orgs for Kiosk only -->
    <add key="OrgsKioskOnly" value="33"/>

  </appSettings>

  <system.net>
    <mailSettings>
      <!-- drop email file for testing -->
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\mail_pickup" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" relaxedUrlToFileSystemMapping="true" maxRequestLength="65536" />

    <customErrors defaultRedirect="Error.htm" mode="On">
      <error statusCode="401" redirect="Error401.htm" />
    </customErrors>

    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
      <allow roles="SA,PA,OA,USER" />
    </authorization>
    
    <pages styleSheetTheme="DataWebControls">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="PTEntities" connectionString="metadata=res://*/DataAccess.PTModel.csdl|res://*/DataAccess.PTModel.ssdl|res://*/DataAccess.PTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbserver;initial catalog=PolicyTracker_D;persist security info=True;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <applicationSettings>
    <PolicyTracker.My.MySettings>
      <setting name="PolicyTracker_Lib_HRWebService_WebService" serializeAs="String">
        <value>http://YourServiceServer/HRWebService4/WebService.asmx</value>
      </setting>
      <setting name="PolicyTracker_CLBEmailService_CLBEmail" serializeAs="String">
        <value>http://YourServiceServer/SearchCLBEMail/Lookup.asmx</value>
      </setting>
    </PolicyTracker.My.MySettings>
  </applicationSettings>
</configuration>